body{
text-align:center;
font-family:Arial;
background:#f4f4f4;
}

.menu{
margin:20px;
}

button{
padding:10px;
margin:5px;
font-size:16px;
}

#visualization{
display:flex;
justify-content:center;
align-items:flex-end;
height:350px;
margin-top:20px;
}

.bar{
width:30px;
margin:3px;
background:steelblue;
}

.stack-item,.queue-item{
width:60px;
height:40px;
background:#4CAF50;
margin:5px;
color:white;
display:flex;
align-items:center;
justify-content:center;
}